.content {
    width: 100%;
}

.heading {
   text-align: center; 
}

.parrafo-registro {
   text-align: justify;
   margin: 10%;
   
}


.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;   
    padding-bottom: 10px;
    background-color: rgb(172, 167, 199);
    width: 99%;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 37px;
    float: left;
    position: relative;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    /*border: steelblue solid 1px;*/
    height: auto;
}

input {
  margin-top: 0px;  
  margin-left: 10%;
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
}

.registrarse-con {
   text-align: center;
   margin: 5% auto
}

.parrafoError {
    color: red;
    text-align: center;
}